/*Estilo a todo*/
* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
    animation: fadeInRight;
    animation-duration: 1s;
}

/*Color body*/
body {
    background: #e554ff;
    background: -moz-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #e554ff), color-stop(100%, #3b4465));
    background: -webkit-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: -o-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: -ms-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: linear-gradient(to right, #e554ff 0%, #3b4465 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e554ff', endColorstr='#3b4465', GradientType=1 );
}
