/*Estilo para todos los elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
}

/*Estilo body*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    animation: fadeInRight;
    animation-duration: 1s;
}

/*Color body*/
body {
    background: #e554ff;
    background: -moz-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #e554ff), color-stop(100%, #3b4465));
    background: -webkit-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: -o-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: -ms-linear-gradient(left, #e554ff 0%, #3b4465 100%);
    background: linear-gradient(to right, #e554ff 0%, #3b4465 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e554ff', endColorstr='#3b4465', GradientType=1 );
}

/*Estilo la tabla entera*/
.form-table {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 350px;
    background-color: rgb(70, 70, 70);
    border-radius: 30px;
    color: white;
}

.form-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 30px 0;
}

/*Estilizamos el enlace*/
.form-enlace {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

/*Estilizamos todas las columnas y tablas*/
table {
    border-spacing: 0;
    margin-top: 1rem;
}

thead {
    background-color: #a900fd;
    color: black;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #5d5c5d;;
}

/*Estilizamos los botones de mostrar y actualizar*/
.form-table button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #cc00ff;
    width: 200px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25s;
}

.form-table button[type="submit"] {
    border: 0;
    background: #a727e7;
    cursor: pointer;
    border: 2px solid #a727e7;
}
.form-table button[type="submit"]:hover {
    background: none;
    color: rgb(0, 0, 0);
}

/*Colocamos la frase libros en el medio*/
.form-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilizamos el desplegable*/
.form-desp {
    border: none;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 15px;
    width: 200px;
    padding: 5px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    text-align: center;
}